@import '../../main.scss';

.form{
    width: 35rem;
    height: 40rem;
    font-size: 1.7rem;
    border-radius: 2rem;
    box-shadow: 0rem 0rem 3rem rgb(0 0 0 / 50%);
    background-color: rgba(148, 188, 233, 0.42);
}
.form input{
    font-size: 1.7rem;
    height: 3rem;
}
.btnAdd{
    background: radial-gradient(
        circle,
        rgba(238, 174, 202, 1) 0%,
        rgba(148, 187, 233, 1) 100%
      );
      color: #0c1a2b;
      border-color: #0c1a2b;
      width: 15rem;
      font-size: 1.6rem;
}
.btnAdd:hover{
    transform: translateY(-.2rem);
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
}
.btnAdd:active{
    transform: translateY(-.1rem);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.2);
}
.error{
    color: $customError;
}