.optionWrapper {
  height: 18rem;
  width: 25rem;
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  color: #0c1a2b;
  font-size: 1.5rem;
  border-radius: 0.5rem;
}
.optionWrapper:hover {
    box-shadow: 5px 5px 20px 5px #6B6B6B;
    transition: 0.4s;
    text-decoration: underline;
    cursor: pointer;
}
